body {
    background-color: #bcbab2;
}

form {
    margin: 0.5rem;
}

input {
    margin: 0.3rem;
}

h1 {
    margin: 2rem 4rem;
}

.cajita-registro {
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    margin-left: 1rem auto;
    width: 16rem;
}

p {
    margin: 0;
    width: 10rem;
}

button {
    width: 10rem;
}

#btnVolver {
    margin: 1rem auto;
    width: 16rem;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}