
{% extends 'aplicacion/base.html' %}

{% load static %}

{% block archivos_css %}
  <link rel="stylesheet" href="{% static 'beneficios.css' %}?v=1.1">
  <title>{% block title %}Beneficios{% endblock title %}</title>
{% endblock %}

{% block content %}

<div class="contenedor-content">
    <h1 class="titulo">Nuestros Beneficios</h1>
    <div class="caja-body">
        {% for i in beneficios %}
        <div class="contenedor-padre-tarjeta">
                <div class="contenedor-tarjetas">
                    <div class="cuerpo-tarjeta">
                        <h5 class="titulo-tarjeta">{{ i.titulo}}</h5>
                        <p class="texto-tarjeta">Valor del beneficio:  {{ i.costo}} puntos.</p>
                        <div class="div-btn-tarjeta">
                            <a href="{% url 'canjear_beneficio' i.id %}" ><button class="btn-tarjeta">Canjear</button></a>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src=""></script>

{% endblock %}