{% extends 'aplicacion/base.html' %}

{% load static %}

{% block archivos_css %}
  <link rel="stylesheet" href="{% static 'info.css' %}">
{% endblock %}

{% block content %}
<br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    
        <div class="col">
          <a href="{% url 'info1' %}" >
          <div class="card">
              <img src="{% static 'imagenes/cardUno.jpg' %}" class="card-img-top foto-card" alt="...">
              <div class="card-body">
              <h5 class="card-title">Te enseñamos a reciclar</h5>
              <p class="card-text">Aprende a reciclar en tu hogar, solo siguiendo unos pasos muy simples!</p>
          </div>
          </a>
          </div>
        </div>
    
    <div class="col">
      <div class="card">
        <img src="{% static 'imagenes/cardTres.png' %}"class="card-img-top foto-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">¿ Porqué es importante reciclar ?</h5>
          <p class="card-text">En este artículo aprenderás la importancia de empezar a reciclar en nuestros hogares para ayudar con la contaminación</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}