{% extends 'aplicacion/base.html' %}
{% load static %}

{% block archivos_css %}
<link rel="stylesheet" href="{% static 'login.css' %}?v=2.0">
{% endblock %}

{% block content %}
<title>{% block title %}Iniciar sesión{% endblock title %}</title>
<div class="cuerpo-login">
    <div class="formulario">
        <form action="{% url 'validar_login' %}" method="POST" class="formulario">
            <h1>Iniciar sesión</h1>
            {% csrf_token %}
            <div class="caja-formulario" id="caja-rut">
                <div class="input-div">
                    <input type="text" class="form-input" id="rut" name="rut" placeholder="11.111.111-1...">
                    <label for="rut" class="label" id="label-rut">Ingrese su rut</label> <br>
                </div>
            </div>

            <div class="caja-formulario" id="caja-contraseña">
                <div class="input-div">
                    <input type="password" class="form-input" id="contraseña" name="contraseña" placeholder="Contraseña...">
                    <label for="contraseña" class="label">Ingrese su contraseña</label> <br>
                </div>
            </div>

            <div class="caja-formulario caja-btn-login">
                <button class="btn-login" type="submit" name="opcion" id="btnLogin">Iniciar sesión</button>
            </div>
            <label id="link-registro" class="label">¿No estás registrado/a? <a href="{% url 'registro' %}">Regístrate aquí</a></label>
        </form>
    </div>
</div>
{% endblock %}
