{% extends 'aplicacion/base.html' %}
  
    {% load static %}

    {% block archivos_css %}
    <link rel="stylesheet" href="{% static 'registro.css' %}?v=1.1">
    <title>{% block title %}Registrarse{% endblock title %}</title>
  
    {% endblock %}

{% block content %}
<div class="cuerpo-login">
    <div class="formulario">
        <div class="caja-registro">
            <h1>Formulario de Registro</h1>
            <form action="{% url 'validar_registro' %}" method="POST" class="formulario">
                {% csrf_token %}
                <div class="caja-formulario">
                    <div class="input-div">
                    <label class="label">Rut: </label> <input class="form-input" type="text" name="rut" id="" required placeholder="11.111.111-1..."> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Nombre: </label> <input class="form-input" type="text" name="nombre" id="" required placeholder="ingresar Nombre..."> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Apellido:</label> <input class="form-input" type="text" name="apellido" id="" placeholder="ingresar apellido" required> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Contraseña:</label> <input class="form-input" type="password" name="contraseña" id="" placeholder="contraseña..." required> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Teléfono:</label> <input class="form-input" type="number" name="telefono" id="" placeholder="+56912345678" required><br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Dirección:</label> <input class="form-input" type="text" name="direccion" id="" placeholder="su dirección..." required><br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Correo:</label> <input class="form-input" type="email" name="correo" id="" placeholder="correo electrónico..." required><br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                        <label class="label">Rol:</label>
                        <select name="rol" id="rol" required><br>
                            <option value="usuario">Usuario</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                </div>
                 <br>
                <div class="caja-btn-login">
                    <button class="btn-login" type="submit">Registrarse</button>
                </div>
                    {% if mensaje %}
                        <div class="alert alert-success">
                            {{ mensaje }}
                            <a href="{% url 'login' %}"> Desea iniciar sesión?</a>
                        </div>
            {% endif %}
            </form>
    </div>
</div>


{% endblock %}