{% extends 'aplicacion/base.html' %}
  
    {% load static %}

    {% block archivos_css %}
    <link rel="stylesheet" href="{% static 'registro.css' %}?v=1.0">
    <title>{% block title %}Registrarse{% endblock title %}</title>
  
    {% endblock %}

{% block content %}
<div class="cuerpo-login">
    <div class="formulario">
        <div class="caja-registro">
            <h1>Formulario de Registro</h1>
            <form action="{% url 'validar_registro' %}" method="POST" class="formulario">
                {% csrf_token %}
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Rut:</p> <input class="form-input" type="text" name="rut" id="" required> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Nombre:</p> <input class="form-input" type="text" name="nombre" id="" required> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Apellido:</p> <input class="form-input" type="text" name="apellido" id="" required> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Contraseña:</p> <input class="form-input" type="password" name="contraseña" id="" required> <br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Telefono:</p> <input class="form-input" type="number" name="telefono" id="" required><br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Dirección:</p> <input class="form-input" type="text" name="direccion" id="" required><br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Correo:</p> <input class="form-input" type="email" name="correo" id="" required><br>
                    </div>
                </div>
                <div class="caja-formulario">
                    <div class="input-div">
                    <p class="label">Rol:</p>
                    </div>
                </div>
                <select name="rol" id="rol" required><br>
                <option value="usuario">Usuario</option>
                <option value="admin">Admin</option>
                </select> <br>
                <div class="caja-btn-login">
                    <button class="btn-login" type="submit">Registrarse</button>
                </div>
                    {% if mensaje %}
                        <div class="alert alert-success">
                            {{ mensaje }}
                            <a href="{% url 'login' %}"> Desea iniciar sesión?</a>
                        </div>
            {% endif %}
            </form>
    </div>
    <footer>soy el footer</footer>
</div>


{% endblock %}